{% load static %}

<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <!-- Loguito:) -->
    <a class="navbar-brand" href="{% url 'index' %}" style="color: white;">
      <img src="{% static 'img/logo.png' %}" alt="Icono" width="35" height="35" class="d-inline-block align-text-top" style="margin-top: -3px;">
      Caleidoscopio Financiero
    </a>

    <!-- Botón para el menú en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 5px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="color: white;">Inicio</a>
        </li>


        <!-- agregar categoría si el usuario es staff -->
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'apps.post:agregar_categoria' %}">Agregar categoría</a>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Posts</a>
          <ul class="dropdown-menu">
            <!-- Agregar post p/staff -->
            {% if user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'apps.post:agregar_post' %}">Crear</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <!-- Enlace para listar posts -->
            <li><a class="dropdown-item" href="{% url 'apps.post:listar_post' %}">Ver Posts</a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- Dropdown de categorías -->
            <li class="dropdown-header">Categorías</li>
            {% for categoria in categorias %}
            <li><a class="dropdown-item" href="{% url 'apps.post:listar_post_categoria' categoria.nombre %}">{{ categoria.nombre }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!-- Agregar nuevo contacto -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contacto</a>
          <ul class="dropdown-menu">
            <!-- Agregar contactos p/staff -->
            {% if user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'apps.contacto:agregar_contacto' %}">Crear</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            <!-- Enlace para listar los contactos -->
            <li><a class="dropdown-item" href="{% url 'apps.contacto:listar_contactos' %}">Ver Contactos</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>

      <!-- Perfil de usuario -->
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'img/logo.png' %}" alt="perfil" width="40" height="40" class="rounded-circle me-2">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'apps.blog_auth:editar_perfil' user.pk %}">Modificar Perfil</a></li>
            <li>
              <form method="POST" action="{% url 'apps.blog_auth:cerrar_sesion' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Cerrar sesión</button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'apps.blog_auth:registrarse' %}">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'apps.blog_auth:iniciar_sesion' %}">Iniciar sesión</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
