.navbar {
    background-color: #4CAF50; 
}

.navbar .nav-link {
    color: white; 
}

.navbar .nav-link.active {
    color: #FFD700; 
}

.navbar .dropdown-menu {
    background-color: #223f58  ;
}

.navbar .dropdown-item {
    color: white; 
}

.navbar-toggler {
    border-color: white; 
}

.navbar .dropdown-divider {
    border-color: white; 
}

.custom-navbar {
    background-color: #223f58 ;
}

.custom-centered-image {
    width: 90%; 
    height: 500px; 
    display: block; 
    margin: 0 auto; 
    overflow: hidden;
    position: relative; 
}

