.navbar {
    background-color: #4CAF50; 
}

.navbar .nav-link {
    color: white; 
}

.navbar .nav-link.active {
    color: #FFD700; 
}

.navbar .dropdown-menu {
    background-color: #223f58  ;
}

.navbar .dropdown-item {
    color: white; 
}

.navbar-toggler {
    border-color: white; 
}

.navbar .dropdown-divider {
    border-color: white; 
}

.custom-navbar {
    background-color: #223f58 ;
}

.custom-centered-image {
    width: 90%; /* Reduce el tamaño de la imagen a un 70% del ancho del contenedor */
    height: auto; /* Mantén la proporción de la imagen */
    display: block; /* Para asegurarse de que funcione con el margin */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }

  