{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">


{% block titulo %}
<title>CF | Acerca de Nosotros 👥</title>
<link rel="icon" href="{% static 'img/logo.ico' %}">
{% endblock %}

{% block contenido %}

<div class="wrapper">
    <h1>Acerca de Nosotros</h1>

    <div class="team">
     
        <div class="team_member">
            <div class="image-container">
                <img src="{% static 'img/Mauri.jpeg' %}" alt="Mauri" class="profile-img">
            </div>
            <h3>Mauricio Ezequiel Suárez </h3>
            <p class="role">Backend Developer👨‍💻 | Ingeniero en Sistemas</p>
            <p>Especialista en crear soluciones tecnológicas para optimizar procesos
            financieros, con experiencia en programación y análisis de datos. Su 
            enfoque innovador le permite desarrollar herramientas que
            mejoran la eficiencia operativa y facilitan la toma de decisiones 
            estratégicas.</p>
            <a href="https://www.linkedin.com/in/mauricio-suarez23/"><i class="fa fa-linkedin" style="font-size:24px;color: black;"></i></a>
        </div>
        
       
        <div class="team_member">
            <div class="image-container">
                <img src="{% static 'img/Romi.jpeg' %}" alt="Romina Alegre" class="profile-img">
            </div>
            <h3>Romina Alegre</h3>
            <p class="role">Frontend Developer👩‍💻 | Ingeniera Civil</p>
            <p>Una profesional con experiencia en la gestión de proyectos de construcción y
            un enfoque analítico, que combina habilidades en diseño y programación para
            desarrollar interfaces de usuario intuitivas y efectivas.</p>
            <a href="https://www.linkedin.com/in/ingrominalegre"><i class="fa fa-linkedin" style="font-size:24px;color: black;"></i></a>
            
        </div>
    </div>
</div>

{% endblock %}
