{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>CF | Acerca de Nosotros 👥</title>
<link rel="icon" href="{% static 'img/logo.ico' %}">
{% endblock %}

{% block contenido %}

<div class="wrapper">
    <h1>Nosotros</h1>

    <div class="team">
        <div class="team_member">
            <h3>Juan Carlos :v</h3>
            <p class="role">Frontend Developer</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
             ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="team">
            <h3>Juan Carlos :v</h3>
            <p class="role">Frontend Developer</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed do eiusmod tempor incididunt ut labore et dolore magna
             aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
             ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
     </div>
</div>

{% endblock %}