<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="list-group-item gap-3 py-3" aria-current="true">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                {% if user.is_authenticated %}
                    <input class="btn btn-outline-secondary" type="submit" value="Opinar" />
                {% else %}
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Opinar
                    </button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #2c2c2c; color: white;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Usted tiene que iniciar sesión o registrarse para poder opinar
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-secondary" href="{% url 'apps.blog_auth:iniciar_sesion' %}" target="_blank">Iniciar sesión</a>
                <a class="btn btn-outline-secondary" href="{% url 'apps.blog_auth:registrarse' %}" target="_blank">Registrarse</a>
            </div>
        </div>
    </div>
</div>

<style>
    .list-group-item {
        background-color: #1c1c1c; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        transition: transform 0.3s; 
    }

    .list-group-item:hover {
        transform: scale(1.02); 
    }

    .btn-outline-secondary {
        margin-top: 10px; 
    }

    /* Estilo del modal */
    .modal-content {
        background-color: #2c2c2c; 
        color: white; 
    }

    .modal-header {
        border-bottom: none; 
    }

    .modal-footer {
        border-top: none; 
    }
</style>